#movie-card {
    display: flex;
    flex-direction: row;
    width: 675px;
}

#reviews-div {
    height: 200px;
    overflow: scroll;
}

#review-div {

}

#content-div {
    display: flex;
    flex-direction: column;
}

#movie-title {

}

#movie-img {
    float: left;
    height: 100%;
}

#movie-img-div {
    height: 400px;
}

#movie-card {

}